.section {
    height: 190px;
}

.separator {
    margin: 0 2.5%;
}

.sub-section {
    height: 190px;
    width: 50%;
    position: absolute;
}

.chart {
    height: 140px;
    position: absolute;
}

.timeline {
    height: 200px;
    width: 95%;
    margin-left: 2.5%;
}

