.section {
    height: 190px;
}

.separator {
    margin: 0 2.5%;
}

.breakdowns {
    margin-left: 2.5%;
    width: 95%;
}

.sub-section-category {
    height: 200px;
    width: 38%;
    position: absolute;
}

.sub-section-platform {
    height: 200px;
    width: 28.5%;
    margin-left: 38%;
    position: absolute;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.sub-section-priority {
    height: 200px;
    width: 28.5%;
    margin-left: 66.5%;
    position: absolute;
}

.chart {
    height: 140px;
    position: absolute;
}

.timeline {
    height: 200px;
    width: 95%;
    margin-left: 2.5%;
}

